<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup-Buzzerati</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/commons/images/favicon-buzzerati.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/resources/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/signupresources/css/style.css" rel="stylesheet" />
    <link href="/signupresources/css/font.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="/resources/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/signupresources/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/resources/angular/angular.min.js"></script>
    <script type="text/javascript" src="/signupresources/js/main.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% if name %}<section class="buzz-page" id="welcome">
        <div class="buzz-header">
            <div class="buzz-header-sub">
                Hello
            </div>
            <div class="buzz-header-main">
                {{ name.split(' ')[0] }}!
            </div>
        </div>
        <div class="buzz-content">
            <div class="influencer-img-container">
                <img src="{{ twitter.crawl_data.profile_image }}" alt="Influencer Image">
            </div>
            <div class="welcome-container">
                <div class="welcome-main">
                    Welcome
                </div>
                <div class="welcome-sub">
                    to Buzzerati
                </div>
                <div class="welcome-base">
                    <!-- <span class="buzz-sub-text">We've heard about you, check out your social media stats below.</span> -->
                    <span class="buzz-sub-text">Your posts are fascinating, check out your social media stats below.</span>
                </div>
            </div>             
        </div>
        <div class="buzz-footer">
            <a href="#influencer-data" class="page-scroll">
                <div class="buzz-nav-arrow">
                    <i class="fa fa-angle-down fa-2x buzz-nav-down" aria-hidden="true"></i>
                </div>                
            </a>
        </div>        
    </section>
    <section class="buzz-page" id="influencer-data">
        <div class="buzz-header">
            <div class="buzz-header-sub">
                Your Social 
            </div>
            <div class="buzz-header-main">
                Presence
            </div>
        </div>
        <div class="buzz-content buzz-metric-content">
            {% if twitter.crawl_data.influential_in %}<div class="buzz-areas-influence">
                <div class="buzz-areas-heading">AREAS OF INFLUENCE</div>
                <div class="buzz-areas-text">{{ twitter.crawl_data.influential_in[0] }} {% if twitter.crawl_data.influential_in[1] %},{{ twitter.crawl_data.influential_in[1] }}{% endif %}  {% if twitter.crawl_data.influential_in[2] %}{{ twitter.crawl_data.influential_in[2] }} {% endif %}</div>
            </div> {% endif %}           
            <div class="row buzz-metrics">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="buzz-metric-holder">                        
                        <div class="buzz-metric-icon">
                            <i class="fa fa-user-plus fa-2x"></i>
                        </div>
                        <div class="buzz-metric-value">
                            {{ twitter.crawl_data.followers }}
                        </div>
                        <div class="buzz-metric-label">
                            Followers
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="buzz-metric-holder">                        
                        <div class="buzz-metric-icon">
                            <i class="fa fa-twitter fa-2x"></i>
                        </div>
                        <div class="buzz-metric-value">
                            {{ twitter.crawl_data.tweetsPerDay }}
                        </div>
                        <div class="buzz-metric-label">
                            Tweets/Day
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="buzz-metric-holder">                        
                        <div class="buzz-metric-icon">
                            <i class="fa fa-retweet fa-2x"></i>
                        </div>
                        <div class="buzz-metric-value">
                            {{ twitter.crawl_data.RTsPer100Tweets }}
                        </div>
                        <div class="buzz-metric-label">
                            RTs/100 Tweets
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="buzz-metric-holder">                        
                        <div class="buzz-metric-icon">
                            <i class="fa fa-reply-all fa-2x"></i>
                        </div>
                        <div class="buzz-metric-value">
                            {{ twitter.crawl_data.repliesPer100Tweets }}
                        </div>
                        <div class="buzz-metric-label">
                            Replies/100
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="buzz-metric-holder">                        
                        <div class="buzz-metric-icon">
                            <i class="fa fa-mars fa-2x"></i>
                        </div>
                        <div class="buzz-metric-value">
                            {{ twitter.crawl_data.demographics.gender.male }}%
                        </div>
                        <div class="buzz-metric-label">
                            Male
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="buzz-metric-holder">                        
                        <div class="buzz-metric-icon">
                            <i class="fa fa-venus fa-2x"></i>
                        </div>
                        <div class="buzz-metric-value">
                            {{ twitter.crawl_data.demographics.gender.female }}%
                        </div>
                        <div class="buzz-metric-label">
                            Female
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="buzz-footer">
            <a href="#whybuzz" class="page-scroll">
                <div class="buzz-nav-arrow">
                    <i class="fa fa-angle-down fa-2x buzz-nav-down" aria-hidden="true"></i>
                </div>                
            </a>
        </div>
    </section>
    <section class="buzz-page" id="whybuzz">
        <div class="buzz-header">
            <div class="buzz-header-sub">
                Why join
            </div>
            <div class="buzz-header-main">
                Buzzerati
            </div>
        </div>
        <div class="buzz-content">
            <div class="whyjoin-container">
                <div class="buzz-why-join-text text-center">
                    <p>We help you increase your impact and widen your sphere of influence, while staying relevant to your ever-growing follower base.</p>
<!--                     <p>We assist in providing engaging content that not only fits your profile, but also interests your followers, so that you always surpass their expectations.</p> -->
                    <p>We help provide engaging content that not only fits your profile, but also interests your followers. Surpass their expectations every time!</p>
                </div>
            </div>
        </div>
        <div class="buzz-footer">
            <a href="#benefits" class="page-scroll">
                <div class="buzz-nav-arrow">
                    <i class="fa fa-angle-down fa-2x buzz-nav-down" aria-hidden="true"></i>
                </div>                
            </a>
        </div>
    </section>
    
    <section class="buzz-page" id="benefits">
        <div class="buzz-header">
            <div class="buzz-header-sub">
                Sign Up
            </div>
            <div class="buzz-header-main">
                Benefits
            </div>
        </div>
        <div class="buzz-content">
            <div class="benefits-container">
                <ul class="benefits-list">
                    <li class="row">
                        <div class="col-md-2 col-sm-3 col-xs-2 text-center">
                            <div class="benefits-list-icon-container">
                                <i class="fa fa-money"></i>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <div class="benefits-list-text">
                                Monetize your influence
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-2 col-sm-3 col-xs-2 text-center">
                            <div class="benefits-list-icon-container">
                                <i class="fa fa-gift"></i>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <div class="benefits-list-text">
                                Increase your social impact
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-2 col-sm-3 col-xs-2 text-center">
                            <div class="benefits-list-icon-container">
                                <i class="fa fa-money"></i>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <div class="benefits-list-text">
                                Grow your influence base
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-2 col-sm-3 col-xs-2 text-center">
                            <div class="benefits-list-icon-container">
                                <i class="fa fa-gift"></i>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <div class="benefits-list-text">
                                Cash, Gift vouchers        
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-md-2 col-sm-3 col-xs-2 text-center">
                            <div class="benefits-list-icon-container">
                                <i class="fa fa-money"></i>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <div class="benefits-list-text">
                                Lifestyle & Adventure Experiences
                            </div>
                        </div>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="buzz-footer">
            <a href="#social-connect" class="page-scroll">
                <div class="buzz-nav-arrow">
                    <i class="fa fa-angle-down fa-2x buzz-nav-down" aria-hidden="true"></i>
                </div>                
            </a>
        </div>        
    </section>{% endif %}
    
    <section class="buzz-page" id="social-connect">
        <div class="buzz-header">
            <div class="buzz-header-sub">
                Join the
            </div>
            <div class="buzz-header-main">
                Buzz Now!
            </div>
        </div>
        <div class="buzz-content" style="overflow : hidden;">
            <div class="buzz-sub-text text-center">
                Get started by connecting with Twitter or Instagram
            </div>            
            <div class="social-connect-container">
                <a style="margin:10px 0" class="btn btn-default btn-block social-btn tw-btn" href="/onboard/with/twitter">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-4 social-btn-icon">
                            <i class="fa fa-twitter"></i>                        
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-8 social-btn-text">
                            Connect with Twitter                        
                        </div>                        
                    </div>
                </a>
                <a class="btn btn-default btn-block social-btn tw-btn" href="/onboard/with/instagram">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-4 social-btn-icon">
                            <i class="fa fa-instagram"></i>                        
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-8 social-btn-text">
                            Connect with Instagram                        
                        </div>                        
                    </div>
                </a>
            </div>
            <!--<div class="buzz-sub-text text-center">OR</div>
            <div class="social-connect-container">
                <a class="btn btn-default btn-block social-btn fb-btn" href="/onboard/with/facebook">
                    <div class="row">                        
                        <div class="col-md-12 col-sm-12 col-xs-8 social-btn-text">
                            Skip                        
                        </div>                        
                    </div>
                </a>
            </div>-->
        </div>                
    </section>           
</body>
</html>