body {
    background: url('bg.jpg') no-repeat center center fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-size : cover;
    position: absolute;
}
.welcome {
    height : 100px;
    padding : 5px;       
    text-align: center;
    padding-top : 80px;
    padding-left : 15px;
}

.welcome .text-holder {
    height : 50px;
    padding : 5px;  
    font-size: 30px; 
    font-family: 'Open Sans';
    font-weight: bold;   
    text-align: center;
    color:#431429;
    padding-top : 15px;
    padding-right : 60px;
    padding-left: 40px;
}

.google-lettering{
    text-align: center; 
    margin: 15px;
    font-size: 12px;
    
}
.error{
    color : red;
    font-weight : lighter;
}
.google-btn {
    height : 40px;
    width  : 100%;
    background-color: #DA4A38;
    border-radius: 5px;
    margin-top : 0px;
    margin-left : 0;
    padding : 0;
    border : 0;    
    color : white !important;
    opacity : 1;
      
}

.google-btn .icon-holder {
    height : 100%;
    padding : 7px;       
    text-align: center;
    background-color: #bc3423;
    border-radius: 5px;       
    border-right : 1px solid #E1E3E4;       
}

.google-btn .text-holder {
    height : 100%;
    padding : 10px;       
    text-align: center;
    padding-left : 5px;
}

.google-btn:active {
    opacity : .8;
}
/*.twitter-div{
    padding-bottom: 25px;
}*/
.twitter-btn {
    height : 40px;
    width  : 100%;
    background-color: #65bff6;
    border-radius: 5px;
    margin-top : 5%;
    margin-left : 0px;
    padding : 0;
    border : 0;    
    color : white !important;
    opacity : 1;
}

.twitter-btn .icon-holder {
    height : 100%;
    padding : 7px;       
    text-align: center;
    background-color: #1DA1F2;
    border-radius: 5px;       
    border-right : 1px solid #E1E3E4;       
}
.twitter-btn .text-holder {
    height : 100%;
    padding: 10px 0px 10px 0px;     
    text-align: center;
}
.twitter-btn:active {
    opacity : .8;
}

.input-box-style{
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #c29b34;
    color: black;
    font-size: 11px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    width: 73%;	
    text-align: left;

}

.field-wrapper{
        margin: 20px 0px 20px 0px;
        min-height: 15px;
}
.credentials-label{
    display: inline-block;
    width: 25%;
    text-align: left;
    font-size: 15px;
}
.sign-in-container{
    margin-top: 20px;
    max-height: 300px;
    min-height: 300px;
    /*background-color: white;*/
    padding: 15px 35px 15px 35px;
}

@media (max-width: 768px){
    .welcome {
        height : 100px;
        padding : 5px;       
        text-align: center;
        padding-top : 50px;
        padding-left : 15px;
    }

}


/* social-connect ------------------------------*/
.social-connect-container {    
    margin: 5% auto;
    padding : 10% 5%;       
}

.social-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    color : #666666;
}

.social-btn-icon {
    display: inline-block;
    width : 15%;
    border-right: 1px solid #adadad;
    padding-right: 5px; 
    color : #666666;   
}

/*.fb-btn:hover {
    background-color : #3E5D99;
    color : white;
    border : 1px solid #3E5D99;
}

.tw-btn:hover {
    background-color: #36ABE2;
    color : white;
    border : 1px solid #36ABE2;
}*/

.social-btn-text {
    display: inline-block;
}