<div class="modal-header">
        <h6 class="modal-title">Select Size</h6>
    </div>
    <div class="modal-body">
       <div ng-repeat="size in openModalCtrl.product.sizes">
           <div ng-click="openModalCtrl.selectSize(size)">{{size}}</div>
       </div>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="openModalCtrl.submit()">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="openModalCtrl.cancel()">Cancel</button>
    </div>