<div class="modal-header">
        <h6 class="modal-title">Select Size</h6>
    </div>
    <div class="modal-body">
       <div>
           <div>Small</div>
           <div>Medium</div>
           <div>Large</div>
           <div>X-Large</div>
       </div>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="openModalCtrl.submit()">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="openModalCtrl.cancel()">Cancel</button>
    </div>