<nav class="navbar navbar-default footer-bottom">
        <div class="container-fluid">
          <div class="manual-header">
          <ul class="nav navbar-nav">
            <li class="manual-footer" ng-click="footerCtrl.gotoCart()"><a><i class="fa fa-shopping-cart"></i><h6>Cart</h6></a></li>
            <li  class="manual-footer" ng-click="footerCtrl.gotoOrders()"><a><i class="fa fa-download"></i><h6>Orders</h6> </a></li>
            <li class="manual-footer" ng-click="footerCtrl.gotoStore()"><a><i class="fa fa-home"></i><h6>Store</h6></a></li>
          </ul>
        </div>
      </div>
      </nav>